---
### provision AWS EC2 instance
- hosts: localhost
  connection: local
  gather_facts: false
  user: {{ .Param "rsa/key-user" }}
  vars:
    region: "us-west-2"

  tasks:

    - name: "Remove key pair by name"
      ec2_key:
        name: "digitalrebar-temp-for-{{ .Machine.Name }}"
        region: "{{`{{ region }}`}}"
        state: absent