---
### provision AWS EC2 instance
- hosts: all
  remote_user: {{ .Param "rsa/key-user" }}
  gather_facts: false
  become: yes
  become_method: su

  tasks:

    - debug:
        msg: "From DRP: {{`{{ digitalrebar }}`}}"

    - name: create uuid file
      copy:
        content: "{{.Machine.Uuid}}"
        dest: /etc/rs-uuid

    - name: download join-up script
      get_url:
        url: http://{{ .ProvisionerAddress }}/machines/join-up.sh
        mode: 0755

    - name: run join-up script
      command: join-up.sh