#!/bin/bash
# RackN Copyright 2019
# Apply Terraform Templates

set -e

{{template "setup.tmpl" .}}

echo "=== INIT $(terraform version) ===="

terraform init -no-color

{{ if .ParamExists "rs-debug-enable" }}
{{ if eq (.Param "rs-debug-enable") true }}

echo "=== PLAN (DEBUG) TERRAFORM ===="

terraform plan -no-color

{{ end }}
{{ end }}

echo "=== RUN {{ .Param "terraform/plan-action" }} TERRAFORM ===="

terraform {{ .Param "terraform/plan-action" }} -no-color -auto-approve

out=$(terraform output --json)
ip=$(jq -r ".machine_ip.value" <<< ${out})
if [[ $ip =~ ^[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}$ ]]; then
	echo "Detected IP from TF, Updateing Machine IP to $ip"
	drpcli machines update $RS_UUID "{\"Address\":\"$ip\"}"
fi
# capture all the output vars in the parms
for key in $(jq -r 'keys[]' <<< ${out}); do
	drpcli machines set $RS_UUID param "TF_VAR/$key" to "$(jq -r -c -M ".$key.value" <<< ${out})"
done

echo "=== DONE ===="
