---
### provision Linode instance
- hosts: localhost
  connection: local
  gather_facts: false
  user: {{ .Param "rsa/key-user" }}

  tasks:

    - name: Remove A Linode.
      linode_v4:
        label: "{{ .Machine.Name }}"
        access_token: "{{ .Param "linode/token" }}"
        tags:
          - "cluster-{{ .Param "demo/cluster-prefix" -}}"
        state: absent
      register: new_linode

    - name: output address
      local_action:
        module: copy
        content: "REMOVE"
        dest: "{{ .Machine.Name }}-address.txt"

    - name: output from playbook
      local_action:
        module: copy
        content: "{{`{{ new_linode.instance }}`}}"
        dest: "{{ .Machine.Name }}.json"
        